/** DIAGRAM LAYOUT ***********************************************************/
#Diagram--Container {
  width: 100%;
  height: 100%;
}

#Diagram--Container > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Diagram--flex {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
}

.konvajs-content {
  margin-left: auto;
  margin-right: auto;
}


/** TOOLBAR ********************************************************************/
.Diagram--Toolbar {
  padding: 5px 10px;
  width: 100%;
}

.Diagram--FurnitureSelector .ms-ChoiceField {
  display: inline-block;
  padding-inline-end: 10px;
}

.Diagram--FurnitureSelector .ms-Label {
  font-size: 0.8rem;
}


/** BUTTONS ******************************************************************/
.Diagram--Download,
.Diagram--Help {
  float: right;
  margin: 10px;
}

/** HELP MODAL ***************************************************************/
.Diagram--HelpModal {
  padding: 1rem 1.5rem;
  width: 75vw !important;
  max-width: 100vw !important;
}

.Diagram--HelpModal--Content > div {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.Diagram--HelpModal--Content > div > p {
  line-height: 1.25;
}

.Diagram--HelpModal--Content > div > img {
  width: 100%;
  margin: 10px auto;
}

.Diagram--HelpModal--Content code {
  background-color: #F5F7F9;
  border-radius: 3px;
  padding: 0 2px;
}

/** DEMO PAGE  ******************************************************************/
.Diagram--Instructions {
  display: flex;
  align-items: flex-end;
}