/* Styling for Modal Popup */

/* Main Dialog div styling */
.ms-Dialog-main {
  max-width: 700px;
  min-width: 400px;
}

/* Modal Title */
.ms-Dialog-title {
  font-weight: 600;
}

/* More legible dialog subText */
.ms-Dialog-subText {
  font-size: 18px;
}
