
.spacer .ms-Grid-row:not(:last-child) {
  margin-top: 5px !important;
  padding-bottom: 15px !important;
  border-bottom: 0.75px solid rgba(51, 51, 51, 0.1);
}

.spacer .ms-Label {
  color: #767676;
  font-weight: 300;
}
