/* Styling for Event Page (Details) */
.EventPage {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex-grow: 1;
  width: 100%;
}

/* Contains breadcrumbs, page title, and action buttons. */
.EventNav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbod;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Widen action buttons */
.ActionButtons button {
  width: 200px;
}
