.EventPage {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

}

.EventPageNav {
  display: flex;
  align-self: flex-start;
}

.EventPageRow {
  margin-bottom: 10px;
}

.EventPageHeader,
.EventPageDateTimes,
.EventPageEmails,
.EventPageProviders,
.EventPageSetup,
.EventPageCourse {
  max-width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

