/* Import U. Iowa fonts. */
@font-face {
    font-family: "Gotham";
    src: url("gotham-pro-regular.otf") format("opentype");
}

@font-face {
    font-family: "Whitney";
    src: url("whitney-medium.otf") format("opentype");
}

/* Import Bootstrap Glyphs. */
@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css');

body {
    font-family: 'Whitney', 'Helvetica Neue', 'Arial', sans-serif !important;
    font-weight: 400 !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Gotham', 'Helvetica Neue', 'Arial', sans-serif !important;
    font-style: normal !important;
    font-weight: 600 !important;
}

/* Easier outlines for development. */
/* * { outline: solid 1px red; }    */

canvas {
    border: 2px solid black;
    background-color: #F0F0F0 !important;
    height: inherit !important;
}