.Dashboard {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex-grow: 1;
  margin-top: 1rem;
}

/* AdminTools button in Dashboard header */
[name="Administrator Tools"] {
  /*float: right !important;*/
}

/* Increase padding between pivots and content */
.Dashboard--EventList,
.Dashboard--Calendar {
  height: 100%;
  margin-top: 1rem;
}
@media only screen and (min-width: 639px) {
  .Dashboard--EventList,
  .Dashboard--Calendar {
    margin-top: 1.125rem;
  }
}
@media only screen and (min-width: 1023px) {
  .Dashboard--EventList,
  .Dashboard--Calendar {
    margin-top: 1.25rem;
  }
}
@media only screen and (min-width: 1365px) {
  .Dashboard--EventList,
  .Dashboard--Calendar {
    margin-top: 1.5rem;
  }
}
@media only screen and (min-width: 1920px) {
  .Dashboard--EventList,
  .Dashboard--Calendar {
    margin-top: 2rem;
  }
}





/* Action button in EventsList for each event */
.ActionButtonsDash {
  width: 150px;
}

.Dashboard--Calendar {
  height: 500px;
}

