.Dashboard {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

/* AdminTools button in Dashboard header */
[name="Administrator Tools"] {
  float: right !important;
}

/* Action button in EventsList for each event */
.ActionButtonsDash {
  width: 150px;
}

.DashCalendar {
  height: 500px;
}

