.Dashboard {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

/* Action button in EventsList for each event */
.ActionButtonsDash {
  width: 150px;
}

.DashCalendar {
  height: 500px;
}

