/* Navigation Bar Styling */

/* Div wrapping CommandBar component. Set position to fixed to escape container*/
.NavBarWrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: unset;
  width: 100vw;
  border-bottom: 1px solid 	#3c3c3c;
  box-shadow: 0 1px 1px 0 hsla(0, 0%, 0%, 0.2);
}

/* Override CommandBar background color */
.NavBar {
  background-color: #000000 !important;
}

/* prevent mouse over shading on U. Iowa Logo */
.NavLogo {
  pointer-events: none;
}

/* Show full Iowa logo by preventing height collapse */
.NavLogo .ms-Icon-imageContainer.ms-Button-icon {
  height: 28px !important;
  padding-bottom: 14px;
}

.NavBar .ms-Button-label {
  font-size: 15px;
  font-weight: 300;
}

/* Smoother transitions */
.NavBar .ms-Button--commandBar,
.NavBar .ms-Button--commandBar i {
  transition: color 250ms;
}

/* Sets default CommandBarItem text, icon, and button to U Iowa styles. */
.NavBar .ms-Button--commandBar,
.NavBar .ms-Button--commandBar i {
  color: #fdfdfd !important;
  background-color: #000000 !important;
}

/* Sets CommandBarItems to yellow on hover */
.NavBar .ms-Button--commandBar:hover,
.NavBar .ms-Button--commandBar:hover i {
  color: #fcd116 !important;
}

/* Sets CommandBarItems color to grey when disabled */
.NavBar .is-disabled,
.NavBar .is-disabled i {
  color: #7f7f7f !important;
}

