
.row-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.placeholder {
  display: flex;
  border: 1px solid grey;
  width: 50px;
  height: 50px;
  background-color: rgba(72, 133, 237, 0.5);
}